/* 


EDITOR


*/
@font-face {
  font-family: "FA Sysfont C";
  src: url("./assets/fonts/sysfont.woff2") format("woff2"), url("./alpha/assets/fonts/sysfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Director";
  src: url("./assets/fonts/Director-Regular.woff2") format("woff2"), url("./assets/fonts/Director-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*

  COLORS

*/
/*

  TRANSITIONS

*/
html,
body {
  scroll-behavior: smooth;
}

#e,
body,
#e-play {
  transition: background 0.15s linear;
}

* {
  box-sizing: border-box;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#ahhh {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  left: 0;
  top: 0;
  background: #000;
  color: #fff;
  padding: 2em;
  display: none;
}
#ahhh h1 {
  margin: 5vh;
  font-size: 1.5rem;
  letter-spacing: 0;
  line-height: 90%;
}
body {
  background: #ffffff;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Times New Roman", -apple-system, BlinkMacSystemFont, "Segoe UI", serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
  resize: none;
  cols: 17;
  padding: 0.75em;
  font-size: 16px;
  line-height: 16px;
}

textarea:focus {
  border: 0;
  padding: 0;
}

select {
  font-size: 0.7rem;
  padding: 0.1em;
  margin: 0.25em auto;
  text-align: left;
  border-radius: 4px;
  border: 1px solid #717374;
  background: none;
  font-family: "Times New Roman";
  color: #3b4041;
}

select:hover {
  cursor: pointer;
}

/* 

    EFFECTS


*/
.fx {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.fx._1 {
  background-image: url(https://i.gifer.com/origin/c5/c50bb597295cf9c1cacc417a2c2927ea_w200.gif);
  opacity: 0.08;
  mix-blend-mode: colorburn;
}

.fx._p {
  background: #ffe6eb;
  opacity: 1;
  mix-blend-mode: exclusion;
  display: none;
}

.fx._s {
  background-image: url(assets/fx-scanline.gif);
  background-size: 120%;
  opacity: 0.06;
  mix-blend-mode: multiply;
}

.fx._cover {
  display: none;
  z-index: 20;
  object-fit: contain;
}
.fx._cover img {
  width: 100%;
  height: 100%;
}

/* 



START AND EXTRAS 



*/
input#cartridge-title {
  font-family: "Director";
  border: 0;
  pointer-events: all;
  background: 0;
}

#info {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
  color: #464A4B;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  padding: 0.75em;
  font-family: "Director";
  font-size: 0.8rem;
  text-transform: uppercase;
}
#info span {
  padding: 0.5em;
  pointer-events: all;
}

#jump {
  position: fixed;
  z-index: 100;
  text-align: center;
  width: 100%;
  padding: 0.5em;
  bottom: 0;
  pointer-events: none;
}
#jump a {
  pointer-events: auto;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 120px;
  text-align: center;
  text-decoration: none;
  font-size: 0.75rem;
  font-family: "Director";
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.12s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 0.12s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
#jump a:hover {
  transform: scale(1.22) translateY(-4px);
}
#jump a._small {
  padding: 0.5em;
  height: auto;
  margin: 0.5em;
  display: inline-block;
  font-size: 0.5rem;
}
#jump a[jump]::after {
  content: " )";
  opacity: 0;
}
#jump a[jump]::before {
  content: "( ";
  opacity: 0;
}
#jump a[jump][active]::before, #jump a[jump][active]::after {
  opacity: 0.5;
}

._howmany::after {
  content: "/15";
}

#btn-savecartridge {
  margin: 0 auto;
  display: none;
}

/* EFFECTS */
#e-effects,
#e-text {
  position: absolute;
  height: 360px;
  width: 360px;
  top: 0;
  left: 0;
}

#e-effects {
  background-size: cover;
  pointer-events: none;
  z-index: 15;
}

/* TEXT */
#e-text {
  mix-blend-mode: difference;
  z-index: 14;
  pointer-events: none;
}
#e-text textarea {
  resize: none;
  padding: 0.75em;
  width: 100%;
  height: 100%;
  font-size: 16px;
  background: rgba(0, 0, 0, 0);
  color: #edede8;
  font-family: "Times New Roman";
  mix-blend-mode: exclusion;
  white-space: pre-wrap;
  overflow-y: hidden;
  cursor: text;
}
#e-text textarea.__toggled {
  border: 0;
  box-shadow: 0 0 10px #000;
}

.library-text-controls button {
  margin-top: 1em;
}
.library-text-controls button.__toggled {
  background: #cbc7c6;
  color: #464A4B;
  border: 1px solid #cbc7c6;
  transform: translateY(-5px);
  display: inline-block;
}

/* 



PLAY 



*/
#e,
#e-play {
  display: block;
  position: relative;
  background: #ffffff;
  width: 360px;
  height: 360px;
  border: 1px solid #edede8;
  margin: 0;
  overflow: hidden;
}

#play {
  background: #fff;
  border: 1px solid #b6b7b7;
  position: relative;
  width: 360px;
  animation: pulse-engine 5s infinite;
  overflow: hidden;
  margin-bottom: 1em;
  -webkit-transition: all 0.3s linear;
  transition: all 0.13s linear;
}
#play h2 {
  font-size: 0.8rem;
  font-family: "Director";
}
#play ._playwhatscene {
  display: none;
}
#play .play-overlay {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 9;
}
#play #e-cartridge {
  position: absolute;
  width: 360px;
  height: 360px;
  bottom: 0;
  z-index: 15;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#play h1[cartridge-title] {
  font-size: 2em;
  letter-spacing: -0.5px;
  padding: 1em;
  line-height: 90%;
  font-weight: normal;
}
#play #e-text {
  position: absolute;
  top: 0;
  z-index: 15;
  pointer-events: none;
}
#play #e-text textarea {
  border: 0;
  resize: none;
  pointer-events: none !important;
}
#play #e-effects {
  position: absolute;
  top: 0;
  z-index: 16;
  pointer-events: none;
}
#play #e-controls {
  position: absolute;
  width: 100%;
  height: 360px;
  z-index: 12;
  bottom: 0;
}
#play #e-controls a {
  position: absolute;
  display: inline-block;
  opacity: 0.4;
  -webkit-transition: all 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
#play #e-controls a.___n,
#play #e-controls a.___s {
  width: 100%;
  height: 18px;
}
#play #e-controls a.___e,
#play #e-controls a.___w {
  width: 18px;
  height: 360px;
}
#play #e-controls a.___n {
  left: 0;
  top: 0;
}
#play #e-controls a.___w {
  left: 0;
}
#play #e-controls a.___e {
  right: 0;
}
#play #e-controls a.___s {
  left: 0;
  bottom: 0;
}
#play #e-controls a.-inaccessible {
  opacity: 0.05;
}
#play #e-controls a:hover {
  transform: scale(1.02);
  cursor: pointer;
  background: yellow;
  mix-blend-mode: difference;
  opacity: 0.6;
}
#play #e-controls a.-inaccessible:hover {
  opacity: 0.1;
  cursor: not-allowed;
}
#play h2 {
  color: #717374;
  font-weight: normal;
  font-family: "Director";
  text-transform: uppercase;
  letter-spacing: 0.25px;
}

/* 



EDITOR 



*/
textarea {
  border: 0;
}

#scene_s #scene_selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  font-family: "Director";
}
#scene_s #scene_selector ._s {
  display: inline-block;
  padding: 0.25em;
  color: transparent;
  font-size: 0.8rem;
  vertical-align: middle;
  -webkit-transition: all 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transform: scale(0.98);
  border: 0.5px solid #000;
}
#scene_s #scene_selector ._s.__start {
  border: 2px solid #b6b7b7;
}
#scene_s #scene_selector ._s.__active {
  opacity: 1;
  animation: pulse-black 2s infinite;
}
#scene_s #scene_selector ._s.__inactive {
  opacity: 0.5;
}
#scene_s #scene_selector ._s.__unused {
  opacity: 0.05;
}
#scene_s #scene_selector ._s:hover {
  transform: scale(0.8);
  cursor: pointer;
  border: 1px solid #000;
}

#scene_selector ._s {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 0.02em;
  text-align: center;
  transition: all 0.13s linear;
}
#scene_selector ._s span {
  display: none;
}
@media only screen and (max-width: 600px) {
  #scene_selector ._s {
    width: 14px;
    height: 14px;
  }
}
#scene_selector hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 0;
  padding: 0;
}

#scene_s {
  margin-bottom: 0;
}
#scene_s #scene_selector {
  max-width: 130px;
}
#audio-player {
  max-width: 450px;
  justify-content: center;
  flex-wrap: wrap;
}
#audio-player ._controlstext {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1em 0;
  margin-bottom: -1em;
}
#audio-player marquee {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  width: 350px;
  padding: 0.5em;
  border-radius: 12px;
  border: 1px solid #000000;
}
#audio-player .controls-audio {
  margin-top: -1em;
  padding: 0 1em;
  text-align: center;
}
#audio-player .controls-audio .controls-audio-loader {
  padding: 1em;
}
#audio-player .controls-audio .controls-audio-loader * {
  vertical-align: middle;
}
#audio-player .controls-audio .controls-audio-loader input {
  height: 30px;
  padding: 0.75em;
}
#audio-player .controls-audio .controls-audio-loader button {
  padding: 0.25em 1em;
}
#audio-player .controls-audio button {
  margin: 0;
}
#audio-player .controls-audio input#_audiosource {
  display: inline-block;
  border-radius: 8px;
  background: #464A4B;
  width: 350px;
  border: 1px solid #cbc7c6;
  color: #cbc7c6;
}

#audio-player-controller {
  position: fixed;
  padding: 1em;
  z-index: 20;
  top: 0;
  width: 100%;
  text-align: center;
  display: none;
}
#audio-player-controller h3 {
  display: inline-block;
  padding: 0.2em 0.5em;
  width: 200px;
  height: 35px;
  line-height: 30px;
  border: 1px solid #edede8;
  margin: 0 auto;
  border-radius: 16px;
  color: #cbc7c6;
}
#audio-player-controller button {
  background: none;
  border: 0;
  transform: translateY(-8px);
}
#audio-player-controller button:hover {
  text-shadow: 0 0 5px #edede8;
}

/* ENGINE WINDOW */
.screen {
  display: inline-block;
  min-height: 100vh;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

#engine-window {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  #engine-window {
    padding: 10vh;
    flex-direction: column;
  }
}

#controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Director";
  box-sizing: border-box;
  text-align: left;
  padding: 0.5em;
}
#controls .panel {
  margin: 0;
  padding: 0.25em 0;
}
@media only screen and (max-width: 600px) {
  #controls {
    width: 100%;
    padding: 0;
    margin-top: 1em;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
  }
  #controls .panel {
    text-align: center;
  }
}
#controls .param {
  text-align: left;
}
#controls input[type=number] {
  width: 40px;
  border: 0;
  font-family: "Director";
  font-size: 0.6rem;
  opacity: 0.6;
}
#controls label {
  width: 45px;
  display: inline-block;
  font-size: 0.6rem;
  text-transform: uppercase;
  opacity: 0.6;
}
#controls input[type=color] {
  border: 0;
  background: 0;
  cursor: pointer;
  width: 100%;
  min-width: 40px;
  padding: 0 0.25em 0 0;
  margin: 0;
}
#controls .controls-scene {
  text-align: left;
}

#library-scene-controls button {
  background: none;
  border: 0;
  padding: 0;
  border-radius: 0;
  margin: 0;
  color: #000000;
}
#library-scene-controls button:hover {
  box-shadow: none;
  background: none;
  border-radius: 0;
}
#library-scene-controls button#btn-scenecontrols-pastescene {
  opacity: 0.1;
}

#downloader_game {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  display: inline-block;
  pointer-events: none !important;
  opacity: 0 !important;
}

#downloader {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  white-space: pre !important;
  display: inline-block;
  pointer-events: none !important;
  opacity: 0 !important;
  -webkit-touch-callout: all;
  /* iOS Safari */
  -webkit-user-select: all;
  /* Safari */
  -khtml-user-select: all;
  /* Konqueror HTML */
  -moz-user-select: all;
  /* Old versions of Firefox */
  -ms-user-select: all;
  /* Internet Explorer/Edge */
  user-select: all;
}

.blocker {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #464A4B;
  top: 0;
  left: 0;
  opacity: 0.8;
  display: none;
  z-index: 8;
}

/* ANIMATIONS */
@keyframes pulse-black {
  0% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
@keyframes pulse-black-engine {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3);
  }
  70% {
    transform: scale(1.02);
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.98);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-engine {
  0% {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-modal {
  0% {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0);
  }
}

/*# sourceMappingURL=t.css.map */
