@import "styles";


.ui-tooltip {
  padding: .5em;
  color: $c !important;
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  font-family: $serif-alt !important;
  max-width: 160px !important;
  font-size: .65em !important;
}



#workspace {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// CONTAINERS

// COMPONENTS

button {
  border: 1px solid $black;
  background: $lg;
  color: $black;
  margin: .25em;
  padding: 0;
  font-family: $serif-alt;
  text-transform: uppercase;
  font-size: .6rem;
  -webkit-transition: all .19s cubic-bezier(.17, .67, .83, .67);
  transition: all .19s cubic-bezier(.17, .67, .83, .67);
}

button.--small {
  border: 0;
  background: 0;
  margin: 0;
  font-size: .5rem;
}

button.--med {
  border: 0;
  background: 0;
  margin: 0;
  padding: .5em;
  font-size: .7rem;
}

button:hover {
  transform: translateY(-2.5px);
  color: $l;
  background: $g4;
  cursor: pointer;
  box-shadow: 0 0 10px $g1;

  img {
    filter: invert(1);
  }
}

button.--destructive:hover {
  color: red;
  background: none;
  box-shadow: none;
}


// WINDOWS

.window {
  text-align: center;
}




// WHATEVER


.engine-buttons {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;

  button {
    margin: 0 .25em;
  
    
  }

  button#btn-play {
    padding: 1em 5em;
    border-radius: 8px;
  }

  button#btn-clear {
    margin-top: .5em;
    padding: .5em 2em;
  }


  button.--med {
    border: 0;
    background: $g1;
    opacity: 0.6;
  }

  button.--med:hover {
    box-shadow: none;
    color: #000;
    opacity: 1;
  }
    
}

.engine-buttons:hover > button:not(:hover) {
  opacity: 0.6;
}


input[name='caption'],
input[name='title'] {
  padding: .25em;
  font-size: .8rem;
  margin: .5em .25em;
}

input[name='caption'] {
  display: none;
}

// GAME MOOD

#gamestatus {

  img {
    padding: .5em .25em;
  }

  img:hover {
    cursor: help;
  }

  p {
    padding: 0 .25em;
    font-size: .75rem;
    line-height: 120%;
    pointer-events: none;
  }

}

#gamestatus:hover {
  cursor: help;
}
